$color-black: #181818;
$color-white: #e7e7e7;

$default-transition: all 0.5s ease;

$font-regular: "Caskaydia-Regular", sans-serif;
$font-bold: "Caskaydia-Bold", sans-serif;

$z-header: 2;
$z-mask: 4;
$z-preloader: 6;
